.me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 80vh;
  font-size: xxx-large;
  font-family: "Silkscreen";
}

.engineer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 300%;
  font-family: "Silkscreen";
  margin-top: -60px;
}

.full-stack {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.typing_text {
  width: 16ch;
  animation: typing 1.5s steps(18), blink 0.5s step-end infinite normal;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: "Silkscreen";
  font-size: 1em;
  margin-bottom: 40vh;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
