@media only screen and (min-width: 768px) {
.me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 90vh;
  width: 60vw; 
  margin: auto;
  font-family: "Silkscreen";
  min-width: 540px;
  margin-top: -50px;
}
}


@media only screen and (max-width: 768px) {
  .me {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 90vh;
    width: 60vw; 
    margin: auto;
    font-family: "Silkscreen";
    margin-top: -50px;
  }
}

/* small screens */
@media only screen and (max-width: 600px) {
  .me {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 80vh;
    width: 100%; 
    margin: auto;
    font-family: "Silkscreen";
    margin-top: -50px;
  }
}