.animate-charcter {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #7724bb 0%,
    #2a143b 29%,
    #0c080f 67%,
    #5f1f94 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  /* text-fill-color: transparent; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 3s linear infinite;
  display: inline-block;
  font-size: 1em;
}

@media only screen and (min-width: 600px) {
  .name {
    position: relative;
    font-family: "Bungee Spice";
    font-size: 300%;
    min-width: 300px;
  }
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

/* Cell phones */
@media only screen and (max-width: 600px) {
  .name {
    position: relative;
    font-family: "Bungee Spice";
    font-size: 3em;
  }
}

/* Galaxy fold */
@media only screen and (max-width: 280px) {
  .name {
    position: relative;
    font-family: "Bungee Spice";
    font-size: 2em;
  }
}


/* Nest Hub */
@media only screen and (width: 1024px) {
  .name {
    position: relative;
    font-family: "Bungee Spice";
    font-size: 2.5em;
    bottom: 40px;
    text-align: center;
  }
}