.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(253, 253, 253, 0.652);
  border: solid rgba(0, 0, 0, 0.307) 3px;
}

.nav-items {
  display: flex;
  flex-direction: row;
}

.nav h4 {
  padding: 1rem;
}

.nav h2 {
  padding: 1rem;
}
