.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: black;
  position: fixed;
  height: 50px;
  /* background-color: rgb(253, 253, 253);
  border: solid rgba(0, 0, 0, 0.137) 1px; */
}

.nav-items {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.nav h4 {
  padding: 1rem;
}

.nav h2 {
  padding: 1rem;
}
