.project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  margin: 2rem;
  background-color: rgba(253, 253, 253, 0.652);
  border: solid rgba(109, 109, 109, 0.204) 1px;
  width: 70vw;
  height: 60vh;
  border-radius: 3px;
  border-radius: 4px;
}

.name {
  flex-grow: 0.5;
  padding: 1rem;
}
.image {
  flex-grow: 4;
  border: 1px solid black;
  padding: 1rem;
}
.image img {
  /* width: 30vw; */
  height: 25vw;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: gray;
}
.description {
  flex-grow: 2;
  padding: 1rem;
}
.tech {
  flex-grow: 0.5;
  padding: 1rem;
}
.proj_desc {
  display: flex;
  flex-direction: row;
}