.stack-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.tech_stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  align-self: center;
  font-size: 400%;
  font-family: "Silkscreen";
  height: 70vh;
  width: 60vw;
  min-width: 400px;
  background-color: rgb(255, 235, 205);
  border-radius: 10px;
  margin-top: 20vh;
}

.tech_stack div {
  margin: 3px;
}

.first-stack {
  display: flex;
  flex-direction: row;
}
.second-stack {
  display: flex;
  flex-direction: row;
}
.first-stack div {
  position: relative;
}
.second-stack div {
  position: relative;
}

.first-stack
  div:hover
  .html
{
  display: flex;
  flex-direction: column;
  color: coral;
  opacity: 1;
  font-size: 0.5em;
  position: absolute;
  bottom: 170px;
  left: 20px;
}
.first-stack
  div:hover
  .css
{
  display: flex;
  flex-direction: column;
  color: coral;
  opacity: 1;
  font-size: 0.5em;
  position: absolute;
  bottom: 170px;
  left: 25px;
}
.first-stack
  div:hover
  .react
{
  display: flex;
  flex-direction: column;
  color: coral;
  opacity: 1;
  font-size: 0.5em;
  position: absolute;
  bottom: 170px;
  left: 5px;
}
.first-stack
  div:hover
  .js
{
  display: flex;
  flex-direction: column;
  color: coral;
  opacity: 1;
  font-size: 0.5em;
  position: absolute;
  bottom: 170px;
  left: 37px;
}
.first-stack
  div:hover
  .ruby
{
  display: flex;
  flex-direction: column;
  color: coral;
  opacity: 1;
  font-size: 0.5em;
  position: absolute;
  bottom: 170px;
  left: 10px;
}

.first-stack img:hover {
  transform: scale(1.2);
}

.second-stack
  div:hover
  .html
  .css
  .js
  .react
  .jquery
  .bootstrap
  .postgresql
  .git
  .ruby
  .node {
  color: coral;
  text-align: center;
  opacity: 1;
  font-size: 0.5em;
}
.second-stack img:hover {
  transform: scale(1.2);
}

.second-stack
  div:hover
  .postgresql
{
  display: flex;
  flex-direction: column;
  color: coral;
  opacity: 1;
  font-size: 0.4em;
  position: absolute;
  top: 130px;
  right: -35px;
}
.second-stack
  div:hover
  .node
{
  display: flex;
  flex-direction: column;
  color: coral;
  opacity: 1;
  font-size: 0.5em;
  position: absolute;
  top: 130px;
  left: 10px;
}
.second-stack
  div:hover
  .git
{
  display: flex;
  flex-direction: column;
  color: coral;
  opacity: 1;
  font-size: 0.5em;
  position: absolute;
  top: 130px;
  left: 33px;
}
.second-stack
  div:hover
  .jquery
{
  display: flex;
  flex-direction: column;
  color: coral;
  opacity: 1;
  font-size: 0.5em;
  position: absolute;
  top: 130px;
  left: -10px;
}
.second-stack
  div:hover
  .bootstrap
{
  display: flex;
  flex-direction: column;
  color: coral;
  opacity: 1;
  font-size: 0.4em;
  position: absolute;
  top: 130px;
  left: -17px;
}

.html {
  font-size: small;
  opacity: 0;
}
.css {
  font-size: small;
  opacity: 0;
}
.js {
  font-size: small;
  opacity: 0;
}
.react {
  font-size: small;
  opacity: 0;
}
.git {
  font-size: small;
  opacity: 0;
}
.node {
  font-size: small;
  opacity: 0;
}
.bootstrap {
  font-size: small;
  opacity: 0;
}
.postgresql {
  font-size: small;
  opacity: 0;
}
.jquery {
  font-size: small;
  opacity: 0;
}
.ruby {
  font-size: small;
  opacity: 0;
}
