@media only screen and (min-width: 600px) {
  .tech_stack {
    background-image: url("https://www.transparenttextures.com/patterns/worn-dots.png");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    align-self: center;
    font-size: 400%;
    font-family: "Silkscreen";
    height: 70vh;
    width: 85vw;
    min-height: 500px;
    min-width: 900px;
    max-width: 35vw;
    background-color: rgb(255, 255, 255);
    border: 1px solid #00000011;
    border-radius: 10px;
    margin-top: 20vh;
    margin-bottom: 10vh;
  }
  .tech_stack div {
    margin: 3px;
  }

  .first-stack {
    display: flex;
    flex-direction: row;
  }
  .second-stack {
    display: flex;
    flex-direction: row;
  }
  .first-stack div {
    position: relative;
  }
  .second-stack div {
    position: relative;
  }

  .first-stack div:hover .html {
    display: flex;
    flex-direction: column;
    color: coral;
    opacity: 1;
    font-size: 0.5em;
    position: absolute;
    bottom: 170px;
    left: 20px;
  }

  .first-stack div:hover .css {
    display: flex;
    flex-direction: column;
    color: coral;
    opacity: 1;
    font-size: 0.5em;
    position: absolute;
    bottom: 170px;
    left: 25px;
  }
  .first-stack div:hover .react {
    display: flex;
    flex-direction: column;
    color: coral;
    opacity: 1;
    font-size: 0.5em;
    position: absolute;
    bottom: 170px;
    left: 5px;
  }
  .first-stack div:hover .js {
    display: flex;
    flex-direction: column;
    color: coral;
    opacity: 1;
    font-size: 0.5em;
    position: absolute;
    bottom: 170px;
    left: 37px;
  }
  .first-stack div:hover .ruby {
    display: flex;
    flex-direction: column;
    color: coral;
    opacity: 1;
    font-size: 0.5em;
    position: absolute;
    bottom: 170px;
    left: 10px;
  }

  .first-stack img:hover {
    transform: scale(1.2);
  }

  .second-stack
    div:hover
    .html
    .css
    .js
    .react
    .jquery
    .bootstrap
    .postgresql
    .git
    .ruby
    .node
    .mongodb {
    color: coral;
    text-align: center;
    opacity: 1;
    font-size: 0.5em;
  }
  .second-stack img:hover {
    transform: scale(1.2);
  }

  .second-stack div:hover .postgresql {
    display: flex;
    flex-direction: column;
    color: coral;
    opacity: 1;
    font-size: 0.4em;
    position: absolute;
    top: 130px;
    right: -35px;
  }
  .second-stack div:hover .node {
    display: flex;
    flex-direction: column;
    color: coral;
    opacity: 1;
    font-size: 0.5em;
    position: absolute;
    top: 130px;
    left: 10px;
  }
  .second-stack div:hover .git {
    display: flex;
    flex-direction: column;
    color: coral;
    opacity: 1;
    font-size: 0.5em;
    position: absolute;
    top: 130px;
    left: 33px;
  }
  .second-stack div:hover .jquery {
    display: flex;
    flex-direction: column;
    color: coral;
    opacity: 1;
    font-size: 0.5em;
    position: absolute;
    top: 130px;
    left: -10px;
  }
  .second-stack div:hover .bootstrap {
    display: flex;
    flex-direction: column;
    color: coral;
    opacity: 1;
    font-size: 0.4em;
    position: absolute;
    top: 130px;
    left: -17px;
  }
  .second-stack div:hover .mongodb {
    display: flex;
    flex-direction: column;
    color: coral;
    opacity: 1;
    font-size: 0.4em;
    position: absolute;
    top: 140px;
    left: -10px;
  }

  .html {
    font-size: small;
    opacity: 0;
  }
  .css {
    font-size: small;
    opacity: 0;
  }
  .js {
    font-size: small;
    opacity: 0;
  }
  .react {
    font-size: small;
    opacity: 0;
  }
  .git {
    font-size: small;
    opacity: 0;
  }
  .node {
    font-size: small;
    opacity: 0;
  }
  .bootstrap {
    font-size: small;
    opacity: 0;
  }
  .postgresql {
    font-size: small;
    opacity: 0;
  }
  .jquery {
    font-size: small;
    opacity: 0;
  }
  .ruby {
    font-size: small;
    opacity: 0;
  }
  .mongodb {
    font-size: small;
    opacity: 0;
  }
}

@media only screen and (max-width: 600px) {
  .tech_stack {
    background-image: url("https://www.transparenttextures.com/patterns/worn-dots.png");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    align-self: center;
    font-size: 300%;
    font-family: "Silkscreen";
    width: 90vw;
    background-color: rgb(255, 255, 255);
    border: 1px solid #00000011;
    border-radius: 10px;
    /* margin-bottom: 5vh; */
    margin-top: 10vh;
  }

  .stack-container {
    display: flex;
    flex-direction: column;
  }

  .tech_stack .animate-charcter {
    text-align: center;
    width: 80vw;
    transform: scale(0.6);
    position: relative;
    top: 20px;
  }
  .first-stack {
    display: flex;
    align-self: center;
    width: fit-content;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
  }

  .second-stack {
    display: flex;
    align-self: center;
    width: fit-content;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
  }

  .stack-container .first-stack div img {
    width: 15vw;
  }
  .stack-container .second-stack div img {
    width: 15vw;
  }

  .html {
    font-size: small;
    display: none;
  }
  .css {
    font-size: small;
    display: none;
  }
  .js {
    font-size: small;
    display: none;
  }
  .react {
    font-size: small;
    display: none;
  }
  .git {
    font-size: small;
    display: none;
  }
  .node {
    font-size: small;
    display: none;
  }
  .bootstrap {
    font-size: small;
    display: none;
  }
  .postgresql {
    font-size: small;
    display: none;
  }
  .jquery {
    font-size: small;
    display: none;
  }
  .ruby {
    font-size: small;
    display: none;
  }
}
