/* html {
  margin: 0px;
  border: 0px;
  padding: 0px;
} */

.App {
  font-family: "Trocchi", serif;
  background-size: 100% 50%;
  background-image: url("../public/images/background.jpeg");
  width:101vw;
  margin: auto;
}

.curved {
  background: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
  height: 110vh;
  width: 100%;
  border-bottom-left-radius: 50% 5%;
  border-bottom-right-radius: 50% 5%;
  border-bottom: 1px rgba(128, 128, 128, 0.169) solid;
}
