.App {
  background-color: #2d2d2d;
  font-family: 'Trocchi', serif;
  background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
}

.curved {
  position: relative;
  background: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
  height: 130vh;
  border-bottom-left-radius: 50% 5%;
  border-bottom-right-radius: 50% 5%;
  border: 1px rgba(128, 128, 128, 0.169) solid;
}
